/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #FF0070;
  --primary-color: #000028;
  --title-color: #DB00FF;
  --primary-text-color: #F1B2CE;
  --block-accent-color: #FF0070;
  --bg-color:#000028;
  --cover-image:url('../images/cover-image-dark.png');
  --btn-hover:#FF007066;
  --cursor-point:pointer;
}
.header__theme-menu-button_active:hover {
  outline: 1px solid var(--btn-hover);
}
.theme-dark .decorated-zone::before {
  border-top: 1px solid var(--block-accent-color);
  border-right: 1px solid var(--block-accent-color);
}
.theme-dark .decorated-zone::after {
  border-bottom: 1px solid var(--block-accent-color);
  border-left: 1px solid var(--block-accent-color);
}
.theme-dark .header__theme-menu-button {
  color: var(--block-accent-color);
}
.theme-dark .header__theme-menu-button_active {
  outline: 1px solid var(--block-accent-color);
}

.theme-dark .about p {
  color: var(--primary-text-color);
}
.theme-dark .rec {
  display: block;
}
