:root.theme-dark{
  --accent-color: #FF0070;
  --primary-color: #000028;
  --title-color: #DB00FF;
  --primary-text-color: #F1B2CE;
  --block-accent-color: #FF0070;
  --bg-color:#000028;
  --cover-image:url('../images/cover-image-dark.png');
  --btn-hover:#FF007066;
}
.theme-dark .rec {
  display: block;
}
