/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff8dcb;
  --primary-color: #353430;
  --title-color: #ffc2e6;
  --primary-text-color: #353430;
  --block-accent-color: #353430;
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  background-image: url("../images/cover-image-light.png");
}
.theme-light .header {
  background-image: url("../images/cover-image-light.png");
}
.decorated-zone::before {
  border-top: 1px solid var(--block-accent-color);
  border-right: 1px solid var(--block-accent-color);
}
.decorated-zone::after {
  border-bottom: 1px solid var(--block-accent-color);
  border-left: 1px solid var(--block-accent-color);
}
.header__theme-menu-button {
  color: var(--block-accent-color);
}
.header__theme-menu-button_active {
  border: 1px solid var(--block-accent-color);
}
.about p {
  color: var(--primary-text-color);
}
.theme-light .rec {
  display: none;
}
