/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  color: var(--accent-color);
  font-family: var(--font-primary), var(--font-spare);
  background: var(--cover-image);
  background-color: var(--bg-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.header {
  position: relative;
  display: grid;
  height: 100vh;
  min-height: 668px;
  padding: 75px 10px 10px 10px;
}
.header__rec {
  position: absolute;
  top: 12px;
  right: 40px;
  display: var(--display-of-rec);
  color: var(--block-accent-color);
  font-weight: normal;
  font-size: 18px;
}
.header__rec::after {
  content: "";
  position: absolute;
  top: 6px;
  right: -21px;
  width: 9px;
  height: 9px;
  border-radius: 50px;
  box-shadow: 0 0 4px 2px var(--block-accent-color);
  background-color: var(--block-accent-color);
}

.decorated-zone {
  position: relative;
}
.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}
.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--block-accent-color);
  border-left: 1px solid var(--block-accent-color);
}
.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--block-accent-color);
  border-right: 1px solid var(--block-accent-color);
}
.header__theme-menu {
  justify-self: end;
  margin-bottom: 65px;
}
.header__theme-menu-list {
  display: grid;
  gap: 9px;
}
.header__theme-menu-button {
  border: none;
  padding: 0px 13px 4px 13px;
  color: var(--block-accent-color);
  font-size: 18px;
  text-transform: lowercase;
  background-color: inherit;
}
.header__theme-menu-button:focus-visible {
  border: none;
  border-bottom: 1px solid var(--block-accent-color);
  outline: none;
}
.header__theme-menu-button:hover {
  outline: 1px solid var(--btn-hover);
  cursor: pointer;
}
.header__theme-menu-button_active {
  outline: 1px solid var(--block-accent-color);
  pointer-events: none;
}
.header__title,
.footer__title {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.82;
  text-shadow: 4px 4px 0 var(--accent-color);
}
.header__title {
  margin-bottom: 55px;
}
.header__text {
  margin-bottom: 66px;
  background-color: var(--accent-color);
  inline-size: 100%;
}
.header__text p {
  max-width: 305px;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.32;
}
.content .content__section:first-child {
  padding: 40px 10px 0px 10px;
}
.content__section {
  padding: 32px 10px 0px 10px;
}
.content__section-title {
  margin-bottom: 10px;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 18px;
}
.content__section-card-text {
  margin-bottom: 20px;
}
.content__section-cards-position {
  display: grid;
  grid-template-columns: 1fr;
}
.content__section-subtitle {
  font-weight: normal;
}
.content__section p {
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 23.4px;
}
.top-title {
  margin-bottom: 20px;
}
.content__section-href-text {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}
.content__section-href-text:hover {
  border-bottom: var(--primary-text-color) 1px solid;
}
.content__section-href-text:focus-visible {
  border: var(--primary-text-color) 1px solid;
  outline: none;
}
.content__intro-title {
  margin-bottom: 21px;
  color: var(--block-accent-color);
}

.title-decor {
  background-color: var(--accent-color);
}
.pictures {
  padding: 32px 10px 42px 10px;
}
.pictures .top-title {
  margin-bottom: 10px;
}
.pictures__container {
  display: grid;
  gap: 10px;
}
.pictures__container img {
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 664px;
  padding: 10px;
  text-align: center;
}

@media (min-width: 768px) {
  .header {
    min-height: 1024px;
    padding: 192px 20px 100px 20px;
  }
  .header__theme-menu {
    margin-bottom: 175px;
  }
  .header__title {
    margin-bottom: 160px;
    margin-left: -21px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .header__text {
    justify-self: end;
    margin-bottom: 195px;
    inline-size: 366px;
  }
  .header__rec {
    top: 22px;
    right: 50px;
  }
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
  .content__section-text-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 19px;
  }
  .content__intro-title {
    max-width: 236px;
    margin-bottom: 22px !important;
    line-height: 1.28;
  }
  .content__section,
  .content .content__section:first-child {
    padding: 60px 20px 0px 20px;
  }
  .pictures .top-title {
    margin-bottom: 20px;
  }
  .pictures {
    padding: 60px 20px 61px 20px;
  }
  .pictures__container img {
    height: 100%;
  }
  .pictures__sunset-img {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .pictures__ice-cream-img {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .pictures__tape-img {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
  }
  .pictures__books-img {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .pictures__street-img {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  .pictures__container {
    gap: 20px;
  }
  .footer {
    min-height: 1024px;
  }
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
@media (min-width: 1024px) {
  .header {
    min-height: 768px;
    padding: 20px 20px 0px 20px;
  }
  .header__theme-menu {
    justify-self: center;
    max-width: 240px;
    margin-bottom: 272px;
  }
  .header__theme-menu-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .header__title {
    margin-bottom: 115px;
  }
  .header__text {
    margin-bottom: 139px;
    inline-size: 491px;
  }
  .header__text p {
    max-width: 100%;
  }
  .content__intro-title {
    max-width: 314px;
  }
  .content__section-cards-position {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .footer {
    min-height: 762px;
    padding: 15px 10px 10px 10px;
  }
}
