/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --primary-color: #000028;
  --title-color: #db00ff;
  --primary-text-color: #f1b2ce;
  --block-accent-color: #ff0070;
  --bg-color: #000028;
  --cover-image: url(../images/cover-image-dark.png);
  --btn-hover: #ff007066;
  --font-primary: "IBM Plex mono";
  
}

